.navbar{
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    justify-content: space-evenly;
}
.navbar div a{
    text-decoration: none;
    color: red;
}
.navbar div a:hover{
    color: white;
}
.image div img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 100px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.hero .content .div1 h1{
    font-size: 50px;
    color: red;
}
.hero .content .div1 p{
    font-size: 20px;
    color: green;
}
.hero .content div{
    margin-top: 100px;
    margin-left: 30px;
}
.card{
    margin-left: 550px;
    margin-right: 570px;
    margin-top: 50px;
}
.card article{
    border: 2px solid black;
    padding: 20px;
}
.card .img img{
    width: 320px;
    height: 270px
}
.card .head h1{
    font-size: 30px;
    color: red;
}
.card .para p{
    font-size: 20px;
    color: green;
}
.card .btn button{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
}